
<!-- FOOTER SECTION -->
<section class="footer-section" id="footer_section">
    <div class="container">
        <div class="middle-portion">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 d-lg-block d-none">
                    <div class="footer_logo">
                        <a href="./index.html" class="text-decoration-none">
                            <figure class="mb-0">
                                <img src="./assets/images/logo.png" alt=""
                                     class="img-fluid">
                            </figure>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="about_col">
                        <h4>Hakkımızda</h4>
                        <ul class="list-unstyled">
                            <li>
                                <p>
                                    3Pilates Studio Çekmeköy, sağlık ve zindeliğe adanmış deneyimli bir ekip tarafından yönetilen, modern ekipmanlarla donatılmış bir pilates stüdyosudur.
                                </p>
                            </li>
                            <li class="icons">
                                <a href="https://www.instagram.com/3pilatess/" target="_blank">
                                    <i class="fa-brands fa-instagram"
                                       aria-hidden="true">
                                    </i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 d-md-block d-none">
                    <div class="links_col">
                        <h4>Hizmetlerimiz</h4>
                        <ul class="list-unstyled">
                            <li>
                                <a href="./index.html">Klinik Pilates</a>
                            </li>
                            <li>
                                <a href="./about.html">Reformer Pilates</a>
                            </li>
                            <li>
                                <a href="./services.html">Çocuk Pilates</a>
                            </li>
                            <li>
                                <a href="./team.html">Fonksiyonel Antreman</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 d-sm-block d-none">
                    <div class="contact_col">
                        <h4>İletişim Bilgileri</h4>
                        <ul class="list-unstyled">
                            <li class="contact_icons">
                                <i class="fa-solid fa-phone"></i>
                                <a href="tel:+905462341800" class="text-decoration-none">0546 234 18 00</a>
                            </li>
                            <li class="contact_icons">
                                <i class="fa-sharp fa-solid fa-envelope"></i>
                                <a href="mailto:info@pilatesstudio.com" class="text-decoration-none">info@pilatesstudio.com</a>
                            </li>
                            <li class="mb-0">
                                <i class="fa-solid fa-location-dot location"></i>
                                <span>Göngören Mah, Zülfikar Sk. No:6A/5 Taşdelen - Çekmeköy / İstanbul</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-portion">
        <div class="copyright col-xl-12">
            <p>Copyright 2024, <a href="http://hamzagoksal.dev" target="_blank">Hamza Göksal</a></p>
        </div>
    </div>
    <div class="footer_shape right_shape">
        <figure class="mb-0">
            <img src="./assets/images/footer_shape.png" alt="" class="img-fluid">
        </figure>
    </div>
</section>